<%= form_for([@app, @hint]) do |f| %>
  <%= show_error_messages @hint %>

  <div class="field">
    <%= f.label :header %>
    <%= f.text_field :header, autofocus: true, size: nil %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :importance %>
    <%= f.number_field :importance, size: nil %>
  </div>
  <div class="field">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, size: nil %>
  </div>

  <table class="summary">
    <caption><%= t('view.hints.comments') %></caption>
    <thead>
      <tr>
        <th><%= Comment.human_attribute_name :user_id %></th>
        <th><%= Comment.human_attribute_name :comment %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @hint.comments.reject(&:new_record?).each do |comment| %>
        <tr>
          <td><%= comment.user || t('view.hints.comment_for_all') %></td>
          <td><%= comment.comment %></td>
          <td><%= l(comment.created_at, format: :short) %></td>
        </tr>
      <% end %>
      <% @hint.comments.build unless @hint.comments.detect(&:new_record?) %>
      <%= f.fields_for :comments, @hint.comments.select(&:new_record?) do |c_f| %>
        <tr>
          <td>
            <%= c_f.select :user_id, hint_user_list,
              prompt: t('view.hints.comment_for_all') %>
          </td>
          <td><%= c_f.text_area :comment %></td>
          <td>
            <%= c_f.label :must_be_sent_by_email %>
            <%= c_f.check_box :must_be_sent_by_email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
jQuery(function() {
  $('#hint_tag_list').tagit({
    allowSpaces: true,
    removeConfirmation: true,
    tagSource: function(search, showChoices) {
      $.getJSON('<%= tags_app_path(@app) %>', {q: search.term}, function(data) {
        showChoices($.map(data, function(t) { return t.name; }));
      });
    }
  });
});
</script>