<%= render 'slidebar' %>

<div class="content">
  <%= content_tag :h2, @tag if @tag %>
  <% if @hints.empty? %>
    <%=  %>
  <% else %>
    <ul>
      <% @hints.each do |hint| %>
        <li <%= raw 'class="private"' if hint.private %>>
          <%= link_to hint.header, app_hint_path(@app, hint) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<br />

<nav class="links">
  <% if current_user %>
    <%= link_to t('label.new'), new_app_hint_path(@app) %>
  <% elsif params[:single].blank? %>
    <%= link_to t('view.hints.back_to_apps'), apps_path %>
  <% end %>
  <%= will_paginate @hints %>
</nav>