<%= render 'slidebar' %>

<div class="content">
  <section class="show_item">
    <header>
      <h1><%= @hint.header %></h1>
      <% unless @hint.tags.empty? %>
        <ul>
          <% @hint.tags.each do |tag| %>
            <li><%= tag %></li>
          <% end %>
        </ul>
      <% end %>
      <%= link_to t('view.hints.print'), '#', :class => 'print' %>
    </header>

    <%= textilize @hint.content %>
  </section>
  <%= render 'footer', hint: @hint %>
</div>

<br />

<nav class="links">
  <% if current_user %>
    <%= link_to t('label.edit'), edit_app_hint_path(@app, @hint) %> |
    <%= link_to t('view.hints.history'), history_app_hint_path(@app, @hint) %> |
    <%= link_to(
      t('label.delete'), app_hint_path(@app, @hint),
      confirm: t('messages.confirmation'), method: :delete
    ) %> |
  <% end %>
  <%= link_to t('label.back'), app_hints_path(@app) %> |
  <%= link_to t('view.hints.back_to_apps'), apps_path %>
</nav>