<section class="app">
  <header>
    <h1><%= @app.name %></h1>
    <p><%= link_to @app.url, @app.url %></p>
  </header>

  <div class="description">
    <%= textilize @app.description %>
  </div>
  
  <p class="links">
    <%= link_to t('view.apps.show_hints'), app_hints_path(@app) %>
  </p>
</section>

<nav class="links">
  <% if current_user %>
    <%= link_to t('label.edit'), edit_app_path(@app) %> |
    <%= link_to(
      t('label.delete'), @app,
      confirm: t('messages.confirmation'), method: :delete
    ) %> |
  <% end %>
  <%= link_to t('label.back'), apps_path %>
</nav>