<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title><%= [t('app_name'), @title].compact.join(' | ') %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content"><%= yield %></div>
  <%= render 'shared/notice' if flash.notice %>
  <%= render 'shared/alert' if flash.alert %>
</body>
</html>